@use '../../variables/variables' as v;
.ButtonChoice {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 35.5rem;
	height: 60vh;
	margin: 0 auto;
	&__top,
	&__bot {
		position: relative;
		z-index: 50;
		.ButtonChoice__choice {
			img {
				background-color: white;
			}
		}
	}

	&__top {
		margin-bottom: 2rem;
	}

	&__choice {
		height: 12.5rem;
		width: 12.5rem;
		border-radius: 50vw;

		&.blue,
		&.yellow,
		&.red {
			img {
				width: 75%;
				height: 75%;
				object-fit: contain;
				border-radius: 50vw;
				padding: 2.2rem;
				z-index: 50;
			}
		}

		&.blue {
			background: linear-gradient(v.$borderBlue);
			margin-right: 5rem;
			position: relative;
			margin-bottom: 1rem;
		}
		&.yellow {
			background: linear-gradient(v.$borderYellow);
		}
		&.red {
			background: linear-gradient(v.$borderRed);
		}
	}
}
